{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $remoteContainers := env "REMOTE_CONTAINERS" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
codespaces = {{ $codespaces }}
remoteContainers = {{ $remoteContainers }}
