{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $remoteContainer:= env "REMOTE_CONTAINER" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
codespaces = {{ $codespaces }}
remoteContainer = {{ $remoteContainer }}
