{{ if eq .chezmoi.os "linux" -}}

#!/bin/bash
sudo ()
{
    [[ $EUID = 0 ]] || set -- command sudo "$@"
    "$@"
}

sudo apt install -y \
    bat \
    fd-find \
    ripgrep \
    ;

~/.fzf/install --key-bindings --completion --no-update-rc

{{ else if eq .chezmoi.os "darwin" -}}

#!/bin/bash
brew install \
    bat \
    fd \
    fzf \
    lsd \
    ripgrep \
    ;
$(brew --prefix)/opt/fzf/install

{{ end -}}
