{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
run_with_sudo ()
{
    if [[ $EUID = 0 ]]; then
        "$@"
    elif command -v sudo >/dev/null 2>&1 && sudo -n true 2>/dev/null; then
        command sudo "$@"
    else
        echo "Skipping (sudo unavailable): $*" >&2
        return 0
    fi
}

echo fs.inotify.max_user_watches=524288 | run_with_sudo tee -a /etc/sysctl.conf || \
    run_with_sudo sysctl fs.inotify.max_user_watches=524288 ||:
run_with_sudo sysctl -p ||:

{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# https://stackoverflow.com/questions/39972335/how-do-i-press-and-hold-a-key-and-have-it-repeat-in-vscode
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false

# Show hidden files in Finder
defaults write com.apple.finder AppleShowAllFiles -bool true

# Disable mouse acceleration
defaults write .GlobalPreferences com.apple.mouse.scaling -1

{{ end -}}
