#!/usr/bin/env bash
{{ if eq .chezmoi.os "linux" -}}
sudo () {
    [[ $EUID = 0 ]] || set -- command sudo "$@"
    "$@"
}

sudo apt-get update
sudo apt-get install -y unzip wget xz-utils
{{ else if eq .chezmoi.os "darwin" -}}
brew update
brew install unzip wget xz
{{ end -}}
