{{ if eq .chezmoi.os "linux" -}}

#!/bin/bash
sudo ()
{
    [[ $EUID = 0 ]] || set -- command sudo "$@"
    "$@"
}

sudo apt-get update
sudo apt-get install -y \
    ripgrep \
    ;

wget https://github.com/neovim/neovim/releases/download/v0.8.0/nvim-linux64.deb
sudo apt-get install ./nvim-linux64.deb
rm nvim-linux64.deb

{{ else if eq .chezmoi.os "darwin" -}}

#!/bin/bash
brew update
brew install \
    bat \
    fd \
    just \
    gh \
    ghq \
    git-town \
    lsd \
    neovim \
    ripgrep \
    ;

{{ end -}}

if command -v starship >/dev/null 2>&1; then 
    echo "starship already installed"
else
    sh -c "$(curl -fsSL https://starship.rs/install.sh)" -y -f
fi
