{{ if eq .chezmoi.os "linux" -}}

#!/bin/bash
sudo ()
{
    [[ $EUID = 0 ]] || set -- command sudo "$@"
    "$@"
}

sudo apt install -y \
    bat \
    fd-find \
    ripgrep \
    ;

wget https://github.com/neovim/neovim/releases/download/v0.8.0/nvim-linux64.deb
sudo apt install ./nvim-linux64.deb
rm nvim-linux64.deb

{{ else if eq .chezmoi.os "darwin" -}}

#!/bin/bash
brew install \
    bat \
    fd \
    just \
    ghq \
    git-town \
    lsd \
    neovim \
    ripgrep \
    ;

{{ end -}}

~/.fzf/install --key-bindings --completion --no-update-rc --no-bash --no-fish

if command -v starship >/dev/null 2>&1; then 
    echo "starship already installed"
else
    sh -c "$(curl -fsSL https://starship.rs/install.sh)" -y -f
fi
